<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button>bt1</button>
      <button ion-button>bt2</button>
    </ion-buttons>
    <ion-title>Meu Titulo</ion-title>
    <ion-buttons right>
      <button ion-button>bt3</button>
      <button ion-button>bt4</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  {{text}}
  <ion-list>
    <button ion-item>C1</button>
    <button ion-item>C2</button>
    <button ion-item>C3</button>
    <ion-item-divider>Abaixo</ion-item-divider>
    <ion-item>C4</ion-item>
    <ion-item>C1</ion-item>
    <ion-item>C2</ion-item>
    <ion-item>C3</ion-item>

  </ion-list>
  <!--<ion-card>-->
    <!--<ion-card-header>Meu Header</ion-card-header>-->
    <!--<ion-card-content>Meu Content</ion-card-content>-->
  <!--</ion-card>-->
  <!--<ion-row>-->
    <!--<ion-card>-->
      <!--<ion-card-header>Texto img</ion-card-header>-->
      <!--<img src="http://dreamicus.com/data/image/image-02.jpg" alt="">-->
      <!--<ion-card-title>Folha seca</ion-card-title>-->
    <!--</ion-card>-->
  <!--</ion-row>-->
  <!--<ion-grid>-->
    <!--<ion-row>-->
      <!--<ion-col col-sm-6 col-md-2>Primeira</ion-col>-->
      <!--<ion-col col-sm-6 col-md-10>Segunda</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row>-->
      <!--<ion-col col-sm-2>Primeira</ion-col>-->
      <!--<ion-col col-sm-3>Segunda</ion-col>-->
      <!--<ion-col col-sm-7>Terceira</ion-col>-->
    <!--</ion-row>-->

  <!--</ion-grid>-->
  <!--<ion-icon name="create"></ion-icon>-->
  <!--<ion-icon ios="create" md="md-add-circle"></ion-icon>-->
  <!--<br/>-->
  <!--<button ion-button>Meu botao</button>-->
  <!--<br/>-->
  <!--<button ion-button outline>Meu botao</button>-->
  <!--<br/>-->
  <!--<button ion-button clear>Meu botao</button>-->
  <!--<button ion-button full>Meu botao</button>-->
  <!--<button ion-button block>Meu botao</button>-->
</ion-content>
<ion-footer>
  <ion-toolbar>Meu sub rodape</ion-toolbar>
  <ion-toolbar>
    <ion-title>footer title</ion-title>
    My Footer
  </ion-toolbar>
</ion-footer>
